# Rust
/target/
**/*.rs.bk
Cargo.lock

.agents
.claude
speckit/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# System
.DS_Store
Thumbs.db

# Environment / Logs
.env
.env.*
*.log
.npmrc

# Build artifacts / Temp
dist/
build/
tmp/
*.tmp

.claude
/.mcp.json
